<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center" style="min-height:100vh">
        <div class="col-6 d-none d-sm-flex justify-content-center align-items-center">
            <img src="../../../assets/docs-sign-in.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 col-12 bg-white shadow-lg d-flex justify-content-center align-items-center px-3"
            style="min-height:100vh;height:100%; z-index: 1;">
            <div>
                <article>
                    <p class="text-center">
                        <img src="./../../../assets/capdocs-icon.svg" width="172" class="img-fluid"><br>
                    </p>

                    <span class="text-center">
                        <h4 class="card-title mb-4 mt-1 title-color">Criar nova carteira</h4>
                        <p class="paragraph">Clique em suas palavras mneumonic na ordem mostrada anteriormente.</p>
                    </span>

                    <form (ngSubmit)="confirmation()" [formGroup]="form">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="mnemonic" name="mnemonic"
                                formControlName="mnemonic" />
                        </div>

                        <div class="row form-group text-center mb-3">
                            <div *ngFor="let item of mneumonicRandom" class="col-sm-4 col-md-3">
                                <div class="mneumonic-box mb-2" (click)="addValue(item)">
                                    <a href="javascript:void(0)">
                                        {{item}}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group text-center mb-3">
                            <div *ngFor="let item of selectedMneumonic" class="col-sm-4 col-md-3">
                                <div class="mneumonic-select-box mb-2" (click)="removeValue(item)">
                                    <a href="javascript:void(0)">
                                        {{item}}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <p class="paragraph text-center">
                                Já tem uma carteira externa?
                            <a href="javascript:void(0)" [routerLink]="['/accounts/restore']">Importat Mneumonic</a>
                            </p>
                        </div>

                        <div class="form-group mt-5 text-center buttons">
                            <button [routerLink]="['/accounts/create']" class="btn btn-outline-secondary p-2 button-link float-start mb-5"> Voltar </button>
                            <button type="submit" class="btn button-confirm text-center text-white float-end mb-5" [disabled]="form.errors"> Confirmar </button>
                        </div>

                    </form>
                </article>
            </div>
        </div>
    </div>
</div>