<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-newton-cradle" [fullScreen]="true">
  <p style="color: white"> Loading </p>
  <p *ngIf="globals.loaderProgress.length > 0" style="color: white"> {{globals.loaderProgress}}% Done</p>
</ngx-spinner>

<div class="d-flex bg-blue-sixth" id="wrapper" [ngClass]="{toggled: isToogled}">
  <app-sidebar *ngIf="globals.hasPersona||globals.hasValidator">
    <!-- Sidebar  -->
  </app-sidebar>

  <div id="page-content-wrapper" *ngIf="globals.registry&&!globals.hasPersona&&!globals.hasValidator">
    <app-navbar class="w-100"></app-navbar>
    <router-outlet></router-outlet>
  </div>

  <div id="page-content-wrapper" class="radius-dashboard px-0 px-sm-3" *ngIf="globals.hasPersona||globals.hasValidator">
    <app-navbar class="w-100"></app-navbar>
    <div class="d-flex">
      <section class="containerDashboard">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</div>
