<header class="px-4 py-3 d-flex align-items-center justify-content-center border-blue-bottom" *ngIf="globals.registry&&!globals.hasPersona&&!globals.hasValidator">
  <div class="containerX d-flex justify-content-between align-items-center">
    <a [routerLink]="['/pages/dashboard']"><img class="col-12 pl-0 pr-5" src="../../../assets/img-docs/img-docs-logo.svg" alt=""></a>

    <button [routerLink]="['/']" class="btnX btn-secondX d-flex align-items-center justify-content-center"><img class="col-3 pr-2 px-0" src="../../../assets/img-docs/img-logout.svg" alt=""> Sair</button>
  </div>
</header>


<nav class="navbar navbar-expand-lg navbar-light pt-4 px-4 px-md-0" *ngIf="globals.hasPersona||globals.hasValidator">
  <div class="containerDashboard d-flex justify-content-between align-items-center">
    <button class="btn bg-white pl-0" (click)="toggleSidebar()">
      <img src="../../../assets/img-docs/img-menu.svg" alt="" />
    </button>
    <button class="btnX btn-secondX d-flex justify-content-center align-items-center" [routerLink]="['/']">
      <img src="../../../assets/img-docs/img-logout.svg" class="col-2 px-0 mr-2" alt="" />Sair
    </button>
  </div>
</nav>
