<div class="container">
    <div class="row justify-content-center align-items-center">
        <aside class="col-12 col-sm-12 col-md-6">
            <div class="card">
                <article class="card-body">
                    <p class="text-center">
                        <img src="./../../../assets/capdocs-icon.svg" class="img-fluid" width="172"><br>
                    </p>

                    <span class="text-center">
                        <h4 class="card-title mb-4 mt-1 title-color">Criar nova carteira</h4>
                        <p class="paragraph">Está é sua frase inicial para a sua carteira, anote-a e a mantenha-a
                            segura.</p>
                    </span>

                    <form (ngSubmit)="confirmation()" [formGroup]="form">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="mnemonic" name="mnemonic"
                                formControlName="mnemonic" />
                        </div>

                        <div class="row form-group text-center mb-3">
                            <div *ngFor="let item of mneumonicSplit" class="col-sm-6 col-md-4">
                                <div class="mneumonic-box mb-2">
                                    {{item}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group text-center">
                                <button type="button" class="btn text-white button-link-secondary float-end mb-3" (click)="downloadmnemonic()">
                                    <i class="fa fa-download"></i> Baixar Mneumonic
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn buttoncolor text-white button-primary">
                                    Valide o Mneumonic
                                </button>
                            </div>
                        </div>
                    </form>
                </article>
            </div>
        </aside>
    </div>
</div>