<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center" style="min-height:100vh">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <img src="../../../assets/docs-sign-in.svg" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 col-12 bg-white shadow-lg d-flex justify-content-center align-items-center" style="min-height:100vh;height:100%; z-index: 1;">
      <div class="">
        <article class="px-4">
          <p class="text-center">
            <img src="./../../../assets/capdocs-icon.svg" class="img-fluid" width="172"><br>
          </p>

          <span class="text-center">
            <h4 class="card-title mb-4 mt-1 title-color">Criar nova carteira</h4>
            <p class="paragraph">Está é sua frase inicial para a sua carteira, anote-a e a mantenha-a
              segura.</p>
          </span>

          <form (ngSubmit)="confirmation()" [formGroup]="form">
            <div class="form-group">
              <input type="hidden" class="form-control" id="mnemonic" name="mnemonic" formControlName="mnemonic" />
            </div>

            <div class="row form-group text-center mb-3">
              <div *ngFor="let item of mneumonicSplit" class="col-sm-4 col-md-3">
                <div class="mneumonic-box mb-2 text-center">
                  {{item}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group text-center">
                <button type="button" class="btn text-white button-link-secondary float-end mb-3"
                  (click)="downloadmnemonic()">
                  <i class="fa fa-download"></i> Baixar Mneumonic
                </button>
              </div>
            </div>

            <div class="row">
              <div class="d-grid gap-2">
                <button type="submit" class="btn text-white button-confirm">
                  Valide o Mneumonic
                </button>
              </div>
            </div>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>