.bg-light {
    background-color: #0E2F04 !important;
    height: 100%;
}

.sidebar-heading {
    cursor: default;
    border-bottom: 1px solid #fff;
    margin-bottom: 3px;
}

.nav-item>a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.item-active {
    color: #fff;
    background-color: rgba(193, 211, 78, 0.2);
    border-left: 2px solid #c1d34e;
}

.nav-item>a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-title {
    color: #fff;
    cursor: default;
    font-size: 16px;
    font-weight: 700;
    background-color: #0E2F04;
    border-bottom: solid 1px #c6d94c;
}

.sidebar-logout {
    color: #f1564c !important;
    cursor: pointer;
    font-size: 15px;
    margin: 20px 0;
}