<div class="bg-light shadow" id="sidebar-wrapper">
    <div class="sidebar-heading p-5">
        <a [routerLink]="['/pages/home']"><img src="../../../assets/icons/white-logo.svg" width="180"></a>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item ">
            <a [routerLink]="['/pages/home']" [routerLinkActive]="['item-active']"
                class="nav-link list-group-item-action colortext sidebar-menu"> <i class="fa fa-cube"></i>&nbsp;
                Dashboard</a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/pages/wallet-details']" [routerLinkActive]="['item-active']"
                class="nav-link list-group-item-action colortext sidebar-menu">
                <i class="fa fa-plus-square-o"></i>&nbsp; Upload de Doc</a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/pages/balanceof']" [routerLinkActive]="['item-active']"
                class="nav-link list-group-item-action colortext sidebar-menu"> <i class="fa fa-file-text-o"></i>&nbsp;
                Solicitar assinatura</a>
        </li>
        <li class="nav-item ">
            <a href="{{blockchainExplorer}}address/{{address}}" target="_blank"
                class="nav-link list-group-item-action colortext sidebar-menu"> <i class="fa fa-pencil-square-o"></i>
                &nbsp; Assinar Doc</a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/pages/allowance']" [routerLinkActive]="['item-active']"
                class="nav-link list-group-item-action colortext sidebar-menu"> <i class="fa fa-user-o"></i>&nbsp;
                Perfil</a>
        </li>
    </ul>
</div>