<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

  <div class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="toggleSidebar()">
          <i class="fa fa-bars"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-menu">
    <span>
      <b class="my-address-label">Meu endereço:</b>&nbsp; {{address}}
      <button (click)="copyToClipboard()" class="btn btn-sm btn-outline-dark mx-1 py-0 px-1">
        <i class="fa fa-copy"></i>
      </button>
    </span>
  </div>

</nav>