.nav {
    height: 74px;
    box-shadow: -3px 14px 15px 0px rgba(12, 52, 89, 0.25);
}

.icon-out {
    color: red;
    font-size: 24px;
}

.icon {
    color: black;
    font-size: 22px;
}