<br>
<div class="row justify-content-md-center">
    <div class="card  cardBalance mb-3 justify-content-md-center col-md-10">
        <div class="card-header ">
            <div class="row">
                <div class="col-md-9">Balance</div>
                <div class="col-md-3">
                    <h6 class="sizeicon  float-end"><i class="fa fa-database"></i></h6>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h3>{{globals.user.balance}} {{symbol}}</h3>
            <h3>{{globals.user.eth}} MATIC <span *ngIf="globals.user.lowGas"><i class="fa fa-warning mx-2 text-warning"
                        style="opacity: 100;font-size: x-large;"></i></span></h3>
        </div>
    </div>&nbsp;
</div>

<div class="row justify-content-md-center">
    <div class="card text-dark cardNetwork mb-3 justify-content-md-center col-md-5">
        <div class="card-header ">
            <div class="row">
                <div class="col-md-9">Network</div>
                <div class="col-md-3">

                    <h6 class="sizeicon float-end"><i class="fa fa-bandcamp"></i></h6>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h3>{{network}}</h3>
        </div>
    </div>&nbsp;
    <div class="card text-dark cardStatus mb-3 justify-content-md-center col-md-5">
        <div class="card-header ">
            <div class="row">
                <div class="col-md-9">Status</div>
                <div class="col-md-3">

                    <h6 class="sizeicon float-end"><i class="fa fa-eye"></i></h6>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h3>Active</h3>
        </div>
    </div>
</div>