.title-dashboard {
    font-weight: 700;
    font-size: 48px;
    line-height: 63.84px;
    color: #006494;
}

.card {
    background: rgba(235, 246, 252, 0.56);
    border: 1px solid #EBF6FC;
    border-radius: 20px;
}

.card-text{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #020202;
}

.line-hr {
    background: #006494;
    height: 2px;
}

.card-number {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #006494;

}