<article class="bg-blue-sixth" id="sidebar-wrapper" style="height: 100vh;">
  <div class="sidebar-heading mt-2">
    <img src="../../../assets/img-docs/img-docs-logo.svg" width="200px" alt="Logo">
  </div>

  <section class="list-group mt-3">
    <button routerLinkActive="active" [routerLink]="['/pages/dashboard']" class="font-weight-medium color-blue-first border-0 bg-transparent py-4 d-flex align-items-center list-group-item list-group-item-action">
      <img class="pr-2" style="width: 30px;" src="../../../assets/img-docs/img-dashboard (1).svg" alt=""> Dashboard
    </button>

    <button *ngIf="globals.hasValidator" routerLinkActive="active" [routerLink]="['/pages/authentication']" class="font-weight-medium color-blue-first border-0 bg-transparent py-4 d-flex align-items-center list-group-item list-group-item-action">
      <img class="pr-2" style="width: 30px;" src="../../../assets/img-docs/img-check.svg" alt=""> Validate documents
    </button>

    <button *ngIf="globals.hasPersona" routerLinkActive="active" [routerLink]="['/pages/addinformation']" class="font-weight-medium color-blue-first border-0 bg-transparent py-4 d-flex align-items-center list-group-item list-group-item-action">
      <img class="pr-2" style="width: 30px;" src="../../../assets/img-docs/img-add-informations.svg" alt=""> Add information
    </button>

    <button *ngIf="globals.hasPersona" [routerLink]="['/pages/validate']" routerLinkActive="active" class="font-weight-medium color-blue-first border-0 bg-transparent py-4 d-flex align-items-center list-group-item list-group-item-action">
      <img class="pr-2" style="width: 30px;" src="../../../assets/img-docs/img-request.svg" alt=""> Request validation
    </button>

    <button *ngIf="globals.hasPersona" [routerLink]="['/pages/certification']" class="font-weight-medium color-blue-first border-0 bg-transparent py-4 d-flex align-items-center list-group-item list-group-item-action">
      <img class="pr-2" style="width: 30px;" src="../../../assets/img-docs/img-certificates.svg" alt=""> Certificates
    </button>

    <button [routerLink]="['/pages/profile']" class="font-weight-medium color-blue-first border-0 bg-transparent py-4 d-flex align-items-center list-group-item list-group-item-action">
      <img class="pr-2" style="width: 30px;" src="../../../assets/img-docs/img-profile.svg" alt=""> Profile
    </button>
  </section>
</article>
