<section class="card-shadow p-4 mt-5 mx-4 mx-md-0" *ngIf="!globals.hasPersona">
    <div class="alert alert-danger py-3 px-1 m-0">
        <p class="m-0 text-center">Esta página é inútil sem uma função de Persona no registro do smart contract</p>
    </div>
</section>
<!-- ------------------------------------ -->

<article *ngIf="globals.hasPersona" class="mt-5 px-4 pb-5 px-sm-0">
    <section class="card-shadow px-4 pb-3">
        <div class="py-4 border-bottom">
            <h3 class="font-weight-bold font-size-32 color-blue-first m-0">Gerenciar certificados</h3>
        </div>

        <div class="my-4">
            <app-pending-certifications
                *ngIf="this.globals.persona.pendingCertificatesCount > 0"></app-pending-certifications>

            <div *ngIf="globals.persona.pendingCertificatesCount <= 0" class="alert alert-success text-center p-4">
                <strong>No pending certificates</strong>
                <p class="m-0">Não há certificados pendentes para aprovar</p>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-center">
                <div class="border col-12 col-sm-3 px-0 rounded mr-0 mr-sm-2">
                    <p
                        class="m-0 py-2 bg-green-second color-white-primary font-size-18 font-weight-semibold text-center">
                        Total de certificados</p>
                    <p class="m-0 text-center font-weight-semibold color-green-second py-3">
                        {{globals.persona.certificates.length}}</p>
                </div>
                <div class="border col-12 col-sm-3  px-0 rounded ml-0 ml-sm-2 mt-3 mt-sm-0">
                    <p
                        class="m-0 py-2 bg-yellow-primary color-white-primary font-size-18 font-weight-semibold text-center">
                        certificados pendentes</p>
                    <p class="m-0 text-center font-weight-semibold color-yellow-primary py-3">
                        {{globals.persona.pendingCertificatesCount}}</p>
                </div>
            </div>

            <div class="mt-5" *ngIf="globals.persona.certificates.length>0">
                <div id="carouselCertificates" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" [class]="i == 0 ? 'active' : ''"
                            *ngFor="let certificate of globals.persona.certificates; let i = index">
                            <app-certificate [certificate]="certificate"></app-certificate>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselCertificates" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselCertificates" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Avançar</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <app-submit-certifications></app-submit-certifications>
</article>
<!-- ------------------------------------ -->
<app-footer></app-footer>